.App {
  text-align: center;
}

.card-width-all-products {
  width: 12rem;
}

@media (max-width: 600px) {
  .smaller-text-cell {
    font-size: 0.6em;
  }
  .smaller-description-text-cell {
    font-size: 1em;
  }
  .card-width-all-products {
    width: 11rem;
  }
}
